*,
/* Bootstrap fix. */
.bg-primary,
.bg-secondary {
  color: white !important;
  background-color: black !important;
  font-family: monospace !important;
  border-radius: 0 !important;
  text-shadow: none !important;
}

a {
  color: #0f0 !important;
  text-decoration: underline !important;
}

ul li {
  list-style-type: " - " !important;
}

ol li {
  list-style-type: decimal !important;
}

pre {
  border-style: dashed !important;
  padding: 0.5em !important;
}

li a.active {
  color: white !important;
}
